[Unit]
Description=DeepLX Service
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/deeplx
User=deeplx
Group=deeplx

[Install]
WantedBy=multi-user.target
